In [7]:
import pandas as pd

lexicon_path = "C:/Users/kdzhou/source/repos/CrisisLex/lexicons"

In [18]:
ch2_tb = pd.read_csv(
    f"{lexicon_path}/LonelinessT_with_scores_chi2.txt", 
    header=None, 
    sep=",", 
    names=["Word", "Chi2", "Term freq (chi2)"]
)

frq_tb = pd.read_csv(
    f"{lexicon_path}/LonelinessT_with_scores_frequency.txt", 
    header=None, 
    sep=",",
    names=["Word", "Frequency", "Term freq (freq)"]
)

pmi_tb = pd.read_csv(
    f"{lexicon_path}/LonelinessT_with_scores_pmi.txt", 
    header=None, 
    sep=",",
    names=["Word", "PMI", "Term freq (pmi)"]
)

In [19]:
main_tb = ch2_tb

main_tb.loc[0:]

                   Word      Chi2  Term freq
0                lonely  1.000000       2228
1               friends  0.999365       3211
2                  feel  0.998731       3918
3                 alone  0.998096       1805
4                   one  0.997462       2378
..                  ...       ...        ...
395            terrible  0.749365        129
396                 low  0.748731        129
397  connection someone  0.748096         39
398                fine  0.747462        205
399           move back  0.746827         30

[400 rows x 3 columns]

In [ ]:
pandas.merge( 
    left = main_tb,
    left_on = "Word",
    right = frq_tb,
    right_on = "Word",
    how = "outer"
)